<header>

    <div class="text">
        <h1>Portfolio</h1>
        <h5>Home / portfolio</h5>
    </div>
</header>

<div class="container">

    <div class="main">
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Nilanjan | January 19, 2017</h6>
                <h5 class="card-title">What should we do now?</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sint maiores provident. Fugit molestias assumenda facere eligendi commodi expedita dicta voluptatibus ipsum, laudantium reprehenderit ad. Quam maiores molestiae accusantium
                    ad fugit autem, repellat dolor veritatis necessitatibus. Aliquid repellat officia quam quaerat aut, itaque totam? Dolorum sapiente eius id aut voluptatem porro placeat.</p>
                <h6 class="read-more">Read more <i class="fas fa-long-arrow-alt-right"></i> </h6>
            </div>
        </div>


        <div class="share">
            <hr>
            <div class="elem">
                <h2>Share Us : </h2>
                <div class="icons">

                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-linkedin-in"></i>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <hr>
        </div>

        <form>
            <h2>Comment</h2>
            <div class="row form-group ">
                <div class="col-md-6 col-sm-6 ">
                    <input type="text" class="form-control" placeholder="First name" required>
                </div>
                <div class="col-md-6 col-sm-6 ">
                    <input type="text" class="form-control" placeholder="Last name" required>
                </div>
            </div>
            <div class="row form-group">
                <input type="tel" name="tel" class="form-control" placeholder="Phone *" required>
            </div>
            <div class="row form-group">
                <input type="email" name="email" class="form-control" placeholder="Email *" required>
            </div>

            <div class="row form-group">
                <textarea placeholder="Message" class="form-control" required></textarea>
            </div>

            <button class="btn-pill " type="submit">Submit</button>
        </form>



    </div>

    <div class="aside">
        <div class="card">
            <h4>Category</h4>
            <hr>
            <a href="#">> Bussiness</a>
            <a href="#">> Corporate</a>
            <a href="#">> Multipurpose</a>
            <a href="#">> Creative</a>
            <a href="#">> Bussiness</a>
        </div>
        <div class="card">
            <h4>Archieves</h4>
            <hr>
            <a href="#">> 2020</a>
            <a href="#">> 2019</a>
            <a href="#">> 2018</a>
            <a href="#">> 2017</a>
            <a href="#">> 2016</a>
        </div>
        <div class="card">
            <h4>Recent posts</h4>
            <hr>
            <a href="#">> Lorem ipsum dolor sit amet consectetur adipisicing.</a>
            <a href="#">> Lorem ipsum dolor sit amet.</a>
            <a href="#">> Lorem ipsum dolor sit.</a>
            <a href="#">> Lorem ipsum dolor sit amet.</a>
            <a href="#">> Lorem ipsum dolor sit.</a>
        </div>
    </div>
</div>