<header>

    <div class="text">
        <h1>Contact</h1>
        <h5>Home / Contact</h5>
    </div>
</header>



<div class="contact container">
    <!-- form block -->
    <div class="form-block container">
        <h3>Submit Your Message</h3>
        <p>Established fact that a reader will be distracted by the readable content</p>

        <form>
            <div class="row form-group ">
                <div class="col-md-6 col-sm-6 form-group">
                    <input type="text" class="form-control" placeholder="First name" required>
                </div>
                <div class="col-md-6 col-sm-6 ">
                    <input type="text" class="form-control" placeholder="Last name" required>
                </div>
            </div>
            <div class="row form-group">
                <input type="tel" name="tel" class="form-control" placeholder="Phone *" required>
            </div>
            <div class="row form-group">
                <input type="email" name="email" class="form-control" placeholder="Email *" required>
            </div>

            <div class="row form-group">
                <textarea placeholder="Message" class="form-control" required></textarea>
            </div>

            <button class="btn-pill " type="submit">Submit</button>
        </form>
    </div>

    <!-- contact detail -->

    <div class="contact-detail container">
        <div class="contact-info">
            <h3>Contact Info</h3>
            <p>Share Your Contact Info with Others</p>
            <div class="media">
                <div class="media-elem">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="detail">
                        <h6>Address : </h6>
                        <p>P-32 Kundian - 214141</p>
                    </div>
                </div>
                <div class="media-elem">
                    <i class="fas fa-phone"></i>
                    <div class="detail">
                        <h6>Phone : </h6>
                        <p>+92 3339449361</p>
                    </div>
                </div>
                <div class="media-elem">
                    <i class="fab fa-facebook-f"></i>
                    <div class="detail">
                        <h6>Facebook : </h6>
                        <p>asfand.taimoor &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </div>
                </div>
                <div class="media-elem">
                    <i class="far fa-envelope"></i>
                    <div class="detail">
                        <h6>Email ID : </h6>
                        <p>asfandtaimoor786@g..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>