@import "../about/about.component.scss";
@import '../../styles.scss';

/* Set the size of the div element that contains the map */

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.contact {
    margin-top: $marginTop;
    display: flex;
    .form-block {
        form {
            margin-top: $marginTopUnderBlock;
            .row {
                .col-md-6 {
                    padding: 0;
                    &:first-child {
                        padding-right: 20px;
                    }
                }
            }
            button {
                font-size: 24px;
                padding: 10px 30px;
            }
        }
    }
    // Contact detail
    .contact-detail {
        .contact-info {
            width: 100%;
            .media {
                margin-top: $marginTopUnderBlock;
                display: flex;
                flex-wrap: wrap;
                .media-elem {
                    min-width: 180px;
                    display: flex;
                    flex-direction: row;
                    margin: 0 20px 20px 0;
                    i {
                        font-size: 30px;
                        padding: 10px 20px;
                        width: 63px;
                        height: 51px;
                        color: white;
                        background-color: $primaryColor;
                    }
                    .detail {
                        padding-left: 10px;
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .contact {
        flex-direction: column;
    }
}

// delete the right row padding
@media screen and (max-width:576px) {
    .contact {
        .form-block {
            form {
                .row {
                    .col-md-6 {
                        padding: 0;
                        &:first-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}