@import "../about/about.component.scss";
@import '../../styles.scss';
.outer-container {
    margin-top: $marginTop;
    h1 {
        text-align: center;
    }
    .container {
        margin: $marginTopUnderBlock auto auto auto;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2em;
        .project {
            &:hover {
                img {
                    filter: brightness(100%);
                    transform: translateY(-25px);
                }
                .detail {
                    .text {
                        display: block;
                    }
                }
            }
            position: relative;
            img {
                transition-duration: .5s;
                filter: brightness(50%);
                width: 100%;
            }
            .detail {
                position: absolute;
                @include center();
                color: white;
                .text {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .outer-container {
        .container {
            grid-template-columns: auto auto;
        }
    }
}

@media screen and (max-width:425px) {
    .outer-container {
        .container {
            grid-template-columns: auto;
        }
    }
}