<div class="container">

    <div class="main">
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1586892478025-2b5472316f22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Nilanjan | January 19, 2017</h6>
                <h5 class="card-title">What should we do now?</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <h6 class="read-more">Read more <i class="fas fa-long-arrow-alt-right"></i> </h6>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1522202757859-7472b0973c69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Nilanjan | January 19, 2017</h6>
                <h5 class="card-title">What should we do now?</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <h6 class="read-more">Read more <i class="fas fa-long-arrow-alt-right"></i> </h6>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/flagged/photo-1575486095597-13f6fc58054e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Nilanjan | January 19, 2017</h6>
                <h5 class="card-title">What should we do now?</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <h6 class="read-more">Read more <i class="fas fa-long-arrow-alt-right"></i> </h6>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Nilanjan | January 19, 2017</h6>
                <h5 class="card-title">What should we do now?</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <h6 class="read-more">Read more <i class="fas fa-long-arrow-alt-right"></i> </h6>
            </div>
        </div>

    </div>

    <div class="aside">
        <div class="card">
            <h4>Category</h4>
            <hr>
            <a href="#">> Bussiness</a>
            <a href="#">> Corporate</a>
            <a href="#">> Multipurpose</a>
            <a href="#">> Creative</a>
            <a href="#">> Bussiness</a>
        </div>
        <div class="card">
            <h4>Archieves</h4>
            <hr>
            <a href="#">> 2020</a>
            <a href="#">> 2019</a>
            <a href="#">> 2018</a>
            <a href="#">> 2017</a>
            <a href="#">> 2016</a>
        </div>
        <div class="card">
            <h4>Recent posts</h4>
            <hr>
            <a href="#">> Lorem ipsum dolor sit amet consectetur adipisicing.</a>
            <a href="#">> Lorem ipsum dolor sit amet.</a>
            <a href="#">> Lorem ipsum dolor sit.</a>
            <a href="#">> Lorem ipsum dolor sit amet.</a>
            <a href="#">> Lorem ipsum dolor sit.</a>
        </div>
    </div>
</div>