@import '../../../styles.scss';
$menuIconSize: 45px;
header {
    display: flex;
    justify-content: space-around;
    font-size: $headerFontSize;
    z-index: 1;
    position: relative;
    i {
        display: none;
        font-size: $menuIconSize;
        margin: auto 20px;
        position: absolute;
        right: 0;
        @include vCenter();
    }
    .logo {
        font-size: $logoFontSize;
        font-weight: bold;
        font-family: cursive, 'Modak';
        p {
            margin-bottom: 0;
            span {
                color: $primaryColor;
            }
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        i {
            position: absolute;
            top: 30px;
        }
        a {
            color: $textColor;
            cursor: pointer;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    i {
        font-size: 45px;
        display: none;
        cursor: pointer;
    }
}

@media screen and (max-width:820px) {
    header {
        justify-content: space-between;
        i {
            display: block;
            font-size: $menuIconSize;
        }
        nav {
            display: none;
            background-color: rgb(242, 242, 242);
            z-index: 1;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 200px;
            box-shadow: 0 0 7px 2px;
            padding-top: $menuIconSize;
            a {
                width: 100%;
            }
        }
    }
}