@import '../../../styles.scss';
header {
    display: flex;
    justify-content: space-between;
    font-size: $headerFontSize;
    .logo {
        font-size: $logoFontSize;
        font-weight: bold;
        font-family: cursive, 'Modak';
        p {
            span {
                color: $primaryColor;
            }
        }
    }
    nav {
        a {
            color: $textColor;
            cursor: pointer;
            &:hover {
                color: $primaryColor;
            }
        }
    }
}

@media screen and (max-width:820px) {
    header {
        nav {
            display: none;
        }
    }
}