@import '../../styles.scss';
@import '../home/home.component.scss';
@import '../about/about.component.scss';
header {
    background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.provide {
    .block {
        .block__elem {
            .text {
                p {
                    color: $textColor;
                }
            }
        }
    }
}

// Sbscribe
.container-inner {
    margin-top: $marginTop;
    background-image: url("https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1030&q=80");
    height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    .detail {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        .text {
            color: white;
            @include center();
        }
    }
}

// cards
.container {
    margin-top: 5em;
    .title {
        text-align: center;
        p {
            color: $textColor;
        }
    }
    .card-deck {
        margin-top: $marginTopUnderBlock;
        .card {
            .card-header-title {
                margin: 20px 0;
            }
            .card-header {
                background-color: $primaryColor;
                color: white;
            }
            .card-body {
                p {
                    color: $textColor;
                }
                hr {
                    color: $textColor;
                }
                .btn-pill {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    .container {
        .card-deck {
            .card {
                margin: auto;
            }
        }
    }
}