<header>

    <div class="text">
        <h1>About</h1>
        <h5>Home / About</h5>
    </div>
</header>



<!-- What we provide to our clints -->

<div class="provide">


    <div class="block">
        <div class="block__elem">
            <div class="logo">

                <i class="fas fa-palette"></i>
            </div>
            <div class="text">
                <h5>Web Design</h5>
                <p>It is a long established fact that a reader will be distracted by the</p>
            </div>
        </div>
        <div class="block__elem">
            <div class="logo">
                <i class="fas fa-code"></i>
            </div>
            <div class="text">
                <h5>Web Development</h5>
                <p>It is a long established fact that a reader will be distracted by the</p>

            </div>
        </div>
        <div class="block__elem">
            <div class="logo">
                <i class="fas fa-chart-line"></i>
            </div>
            <div class="text">
                <h5>Online Marketing</h5>
                <p>It is a long established fact that a reader will be distracted by the</p>
            </div>
        </div>
        <div class="block__elem">
            <div class="logo">
                <i class="fab fa-android"></i>
            </div>
            <div class="text">
                <h5>Android Development</h5>
                <p>It is a long established fact that a reader will be distracted by the</p>
            </div>
        </div>
        <div class="block__elem">
            <div class="logo">
                <i class="fas fa-mobile"></i>
            </div>
            <div class="text">
                <h5>iPhone Development</h5>
                <p>It is a long established fact that a reader will be distracted by the</p>
            </div>
        </div>
        <div class="block__elem">
            <div class="logo">
                <i class="fas fa-video"></i>
            </div>
            <div class="text">
                <h5>Online Training</h5>
                <p>It is a long established fact that a reader will be distracted by the</p>
            </div>
        </div>

    </div>
</div>


<!-- Subscribe -->

<div class="container-inner">

    <div class="detail">

        <div class="text">
            <h3>Subscribe our Newsletter</h3>
            <p>established fact that a reader will be distracted by the readable content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>



        </div>
    </div>
</div>


<!-- Price cards -->

<div class="container text-center">
    <div class="title">
        <h1>Our Affordable Price list</h1>
        <p>Established fact that a reader will be distracted by the readable content</p>
    </div>
    <div class="card-deck">

        <div class="card  mb-3 " style="max-width: 18rem;">
            <h4 class="card-title card-header-title">Basic</h4>
            <div class="card-header">
                <h3>$80/ Month</h3>
            </div>
            <div class="card-body">

                <p class="card-text">5 page with Contact Form</p>
                <hr>
                <p class="card-text">Domian and hosting</p>
                <hr>
                <p class="card-text">1 Year support</p>
                <hr>
                <p class="card-text">Free SSL</p>
                <hr>
                <p class="card-text">Free Updates</p>
                <hr>

                <button class="btn-pill">Buy Now</button>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 18rem;">
            <h4 class="card-title card-header-title">Advanced</h4>
            <div class="card-header">
                <h3>$100/ Month</h3>
            </div>
            <div class="card-body">

                <p class="card-text">5 page with Contact Form</p>
                <hr>
                <p class="card-text">Domian and hosting</p>
                <hr>
                <p class="card-text">1 Year support</p>
                <hr>
                <p class="card-text">Free SSL</p>
                <hr>
                <p class="card-text">Free Updates</p>
                <hr>

                <button class="btn-pill">Buy Now</button>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 18rem;">
            <h4 class="card-title card-header-title">Premium</h4>
            <div class="card-header">
                <h3>$150/ Month</h3>
            </div>
            <div class="card-body">
                <p class="card-text">5 page with Contact Form</p>
                <hr>
                <p class="card-text">Domian and hosting</p>
                <hr>
                <p class="card-text">1 Year support</p>
                <hr>
                <p class="card-text">Free SSL</p>
                <hr>
                <p class="card-text">Free Updates</p>
                <hr>

                <button class="btn-pill">Buy Now</button>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 18rem;">
            <h4 class="card-title card-header-title">Gold</h4>
            <div class="card-header">
                <h3>$180/ Month</h3>
            </div>
            <div class="card-body">
                <p class="card-text">5 page with Contact Form</p>
                <hr>
                <p class="card-text">Domian and hosting</p>
                <hr>
                <p class="card-text">1 Year support</p>
                <hr>
                <p class="card-text">Free SSL</p>
                <hr>
                <p class="card-text">Free Updates</p>
                <hr>
                <button class="btn-pill">Buy Now</button>
            </div>


        </div>
    </div>
</div>